[Unit]
Description=balena-haproxy
Requires=confd.service
After=confd.service

[Service]
StandardOutput=journal+console
StandardError=journal+console
WorkingDirectory=/usr/src/app
EnvironmentFile=/usr/src/app/config/env
ExecStartPre=/usr/src/app/bin/generate-config config -e PROXY_CONFIG
ExecStart=/usr/local/sbin/haproxy -f /usr/local/etc/haproxy/haproxy.cfg
Restart=always

[Install]
WantedBy=basic.target
